name: Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run test script
        run: yarn test:docker
      - name: Upload coverage
        uses: codecov/codecov-action@v1
      - name: Run posttest script
        run: yarn posttest:docker
